.btn-primary{
    color: #fff;
    background-color: #02254C !important;
    border-color: #02254C;
}

.navbar{
  background-color: #02254C;
}
.bienvenido{
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: bold;
}

.container{
    margin: 5%;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    width:50%;
    height:40%;
    text-align:center;
}

p{

}

.top{
  margin-top: 18px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


.btn:hover {
  background : #4499c9;
}

.btn:active {
  background : #49ADE5;
}

input[type="file"] {
  display : none;
}

#file-drag {
  border: 2px solid #555;

  color         : #555;
  cursor        : pointer;
  display       : block;
  font-weight   : bold;
  margin        : 1em 0;
  padding       : 3em;
  text-align    : center;
  transition    : background 0.3s, color 0.3s;
}

#file-drag.hover{
  background : #BBBBBB;
}

#file-drag.hover{
  border-color : #3070A5;
  border-style : solid;
  box-shadow   : inset 0 3px 4px #888;
  color        : #3070A5;
}


#file-progress {
  display : none;
  margin  : 1em auto;
  width   : 100%;
}

#file-upload-btn {
  margin : auto;
}

#file-upload-btn.hover {
  background : #4499c9;
}

#file-upload-form {
  margin : auto;
  width  : 40%;
}

#myModal{
  display: none;
}

#myModal.hover{
    display: block;
    z-index: 1;
    height: 90px;
    width: 450px;
    background-color: white;
    margin-top: 146px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    color: black;
    padding: 25px;

}

#myModal2{
  display: none;
}

#myModal2.hover{
  display: block;
  z-index: 1;
  height: 90px;
  width: 450px;
  background-color: white;
  margin-top: 146px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  color: black;
  padding: 25px;
}

.progress-bar {
    background-color: #02254C !important;
}

.tabs{
  background-color: #02254C;
}

ul {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
}

table {
  border: 1px solid black;
  border-spacing: 0;
}


table>thead {
  background-color: #02254C;
  font-weight: bold;
  color: white;
}

,container2{
  margin: 5%;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  width:50%;
  height:40%;
  text-align:center;
}

/*tbody > tr:nth-child(even) {
	background: #CCC;
}
tbody > tr:nth-child(odd) {
	background: #FFF;
}*/


.close {
    color: #fff !important;
    opacity: 2;
}

.close:hover {
    color: #fff !important;
    opacity: 2;
}




/*#progress p.success
{
	background: #02254C none 0 0 no-repeat;
}

#progress p.failure
{
	background: #c00 none 0 0 no-repeat;
}
#progress p
{
	display: block;
	width: 240px;
	padding: 2px 5px;
	margin: 2px 0;
	border: 1px inset #446;
	border-radius: 5px;
  color: white;
}*/
